nav ul{
list-style-type: none;
           
display: flex;

justify-content: center;

position: relative;
}
 
   
   nav ul li a {border-radius:25% ;
    padding: 0.5em ;
    margin: 0.5em;
    background-color:cornsilk;
    float: left;}
    img[src ^="sel.jpg"]{ border-radius:100%;}
    .head{
        text-transform:uppercase;
        font-family: serif;
        font: xx-large;}
    .box{
   flex: column;
    position: relative;
    top: 20px;
    clear:right}
    footer{clear: right;}
    
    body{ background-color: rgb(122, 127, 136) ;}
    
    .peoples{float: right;}
    button{border-radius: 25%;}
    .photo__container{display: grid;
      grid-template-columns:25% 75% ;
      grid-template-rows:auto ;}
      .photo{grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 2;}
      .navigations{grid-column-start: 2;
              grid-column-end: 3;
              grid-row-start: 1;
              grid-row-end: 2}
              .peoples__video{display: grid;
               grid-template-columns:33% 33% 33%;
               grid-template-rows:auto auto;}
               .peoples{grid-column-start: 2;
                   grid-column-end: 4;
                   grid-row-start: 1;
                   grid-row-end: 2;}
               .video{grid-column-start: 2;
                       grid-column-end: 4;
                       grid-row-start: 2;
                       grid-row-end: 3}
              .formtext__comment{display: grid;
               grid-template-columns:33% 33% 33%;
               grid-template-rows:auto ;}
               .form__text{grid-column-start: 1;
                   grid-column-end: 2;
                   grid-row-start: 1;
                   grid-row-end: 2;}
               .comment{grid-column-start: 2;
                       grid-column-end: 4;
                       grid-row-start: 1;
                       grid-row-end: 2}
              body{background-color: cornflowerblue;}
            @media screen and (max-width:70em){
                .photo__container{
                    display: block;
                    flex-wrap: wrap;}
                    .peoples__video{
                     display: block;
                     flex-wrap: wrap;}
                    .formtext__comment{
                     display: block;
                     flex-wrap: wrap;}
                .head{    display: block;
                    flex-wrap: wrap;}

                }

                @media screen and (max-width:30em){
                    img ,video{width:50;
                    height:50}
                    nav ul li a { 
   
                        border-radius:15% ;
                        padding: 0.3em ;
                        margin: 0.3em;
        
                    }
}
@media screen and (max-width:10em){ 
 img,video{width:10;
height:1o;}
nav ul li a { 
   
border-radius:10% ;
padding: 0.1em ;
margin: 0.1em;}
    }
